*{
    font-family: "Poppins", sans-serif;
}
.navbar{
    background: linear-gradient(180deg, #213b52 0%, rgb(33, 60, 84) 35%, rgb(32, 69, 100) 100%);
}

.navbar-nav li{
    margin-left: 25px;
}
.navbar-nav li a{
    color:#adc7de;
}
.navbar-nav li a:hover{
    color: #fff;
    transition: 0.3s;
}
.container h1 a{
    color: #fff;
    font-weight: 700;
}
.container h1 a span{
    color: #fdc134;
    padding: 0px 3px;
}
.collapse button{
    border-radius: 50px;
    border: 2px solid #fdc134;
    color:#fff;
    margin-left: 20px;
}
.collapse button:hover{
    background-color: #fdc134!important;
    border: 2px solid #fdc134!important;
}
.top-text button{
    color: #213b52;
    border-radius: 50px;
    padding:10px 35px;
    border: 2px solid #fdc134;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: #fdc134;
    font-size: 20px;
}
.top-text button:hover{
    background:transparent;
    cursor:pointer;
    color:#fff;
}







